* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    text-decoration: none;
    list-style: none;
    object-fit: cover;
}
a {
    cursor: pointer;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background: #252B42;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.navlist {
    display: flex;
}

.navlist a {
    margin: 0 15px;
    padding: 5px 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

.login a {
    color: #fff;
    padding: 10px 10px;
}


.login .btn,
.learnmore .btn1 {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background: #23A6F0;
    font-size: 15px;
}

.section {
    padding: 0 15%;

}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.main-text * {
    margin-bottom: 30px;
}

.main-text h5 {
    font-weight: 700;
    font-size: 16px;
    color: #23A6F0;
}

.main-text h1 {
    font-weight: 700;
    font-size: 58px;
}

.main-text h4 {
    font-weight: 400;
    font-size: 20px;
}

.main-text .learnmore .btn2 {
    border: 1px solid #23A6F0;
    padding: 10px 20px;
    color: #23A6F0;
}

.btn1 {
    border: 1px solid #23A6F0;
    padding: 10px 20px;
}

/* cards */

.container-card .box-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container-card .box-container .box {
    background: #fff;
    padding: 40px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}



.container-card .box-container .box h3 {
    color: #252B42;
    font-size: 15px;
    padding: 10px 0;
    font-weight: 700;
}

.container-card .box-container .box p {
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: start;
}

.container-card .box-container .box .card-icons {
    display: inline-block;
    background: #FFDCD1;
    border-radius: 10px;
    padding: 20px;
}

/* .container-card .box-container .box hr {
    width: 50px;
    height: 3px;
    background: #E74040;
} */
.container-card .box-container .box h3 {
    position: relative;
}

.container-card .box-container .box h3::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #E74040;
    position: absolute;
    top: 40px;
    left: 0;
}



.container-card .box-container .box2 {
    background: #23A6F0;
}

.container-card .box-container .box2 h3 {
    color: #fff;
}

.container-card .box-container .box2 p {
    color: #fff;
}

.container-card .box-container .box2 h3::after {
    background: #fff;
}

.layout2 {
    background-color: #fff;
}

.layout2 .container {
    padding: 100px 0px 100px 0px;
}

.layout2 .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.layout2 hr {
    width: 80px;
    height: 5px;
    background: #E74040;
}

.layout2 h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #252B42;


}

.layout2 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373;

}

.layout2 a {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #23A6F0;

}

.layout2 .main-picture {
    width: 300px;
    height: 300px;
}
.picture-holder-absolute{
    position: relative;
}
.layout2 .next-picture {
    position: absolute;
    top: 250px;
    width: 250px;
    height: 100px;
    right: 50px;
}

.layout2 .second-picture {
    position: absolute;
    width: 150px;
    height: 150px;
    right: 200px;
}

.product .container {
    max-width: 74rem;
    margin: 0 auto;
}

.product .container .row-fisrt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.product .container .row-fisrt h6,
.product .pricesproduct .frame1 p {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #23A6F0;
}

.product .container .row-fisrt h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #252B42
}

.product .container .row-fisrt p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373
}

.product .container .row-second {
    margin-top: 7rem;

}

.product .container .row-second .col {
    max-width: 230px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.product {
    padding: 100px 10%;
}


.product .pricesproduct img {
    width: 200px;
    height: 300px;

}

.product .pricesproduct .frame1 {
    display: flex;
    justify-content: space-between;
}


.product .pricesproduct .frame1 a {
    border-radius: 20px;
    padding: 5px;
    gap: 5px;
    background-color: #252B42;
    color: #fff;

}


.product .pricesproduct .frame1 span {
    color: gold;
}

.product .pricesproduct .frame3 {
  padding-bottom: 10px;
}

.product .pricesproduct .frame2 h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}


.product .pricesproduct .frame2 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}


.product .pricesproduct .frame2 a {
    color: #737373;

}


.product .pricesproduct .frame2 .prices {
    display: flex;
    gap: 5px;
}


.product .pricesproduct .frame2 .prices .expensive {
    color: #737373;
}


.product .pricesproduct .frame2 .prices h5 {
    color: green;
}

.product .row-second {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
}

.product .pricesproduct .frame3 .fa-regular {
    color: #23A6F0;

}

.product .pricesproduct .frame3 .fa-solid {
    color: #E77C40;

}


.product .pricesproduct .frame2 .btn-sm {
    border-radius: 37px;
    border: 1px solid #23A6F0;
    padding: 5px 20px;



}


.layout3 .main-content {
    padding-left: 50px;
}

.layout3 .main-content h6,
.joinus h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #23A6F0;
}

.layout3 .main-content h2 .joinus h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #252B42
}

.layout3 .main-content p,
.layout3 .container .second h5,
.layout3 .container .second h6,
.joinus p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373
}

.layout3 .container .second {
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
    
}

.layout3 .container .second .col-md-6 {
    max-width: 13rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.layout3 .container .second p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373
}

.layout3 .container .second .fa-solid,
.layout3 .container .second .fa-regular {
    color: gold;
}

.joinus .container {
    max-width: 74rem;
    margin: 60px auto;
}

.joinus .container .row {
    margin-top: 9rem;
    text-align: center;
}

.joinus .container .row .input {
    margin-top: 4rem;
}

.joinus .container .row .input input {
    height: 2rem;
    max-width: 42rem;
    border: 1px solid #e6e6e6;
}

.joinus .container .row .input button {
    border: 1px solid #23A6F0;
    height: 2rem;
    background-color: #23A6F0;
    color: #fff;
    padding: 0 1rem;
}

.footer .container {
    max-width: 1440px;
    margin: auto;
}

.footer .container .row {
    display: flex;
    flex-wrap: wrap;
}

.footer .container .row ul {
    list-style: none;
}

.footer {
    background-color: #252B42;
    padding: 70px 0;
}

.footer .container .footer-col {
    width: 25%;
    padding: 0 50px;
}

.footer .container .footer-col h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #bbb;
    margin-bottom: 20px;
}

.footer .container .footer-col li a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.footer .container .footer-col li a:hover {
    color: #bbbb;
    padding-left: 10px;
}

.footer .container .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #e6e6e6;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:  #252B42;
    transition: all 0.5s ease;
}

.footer .container .footer-col .social-links a:hover{
    color: #b2c1e4;
    background-color: #fff;
}


@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}